<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>errenil noel</title>
        <link rel="icon" type="image/x-icon" href="/images/cat.ico">
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <nav class="desk-nav">
            <div class="logo">
                <a href="/">errenil</a>
            </div>
            <a href="/pages/about.html">about</a>
            <a href="/archive.html">archive</a>
        </nav>

        <nav class="mob-nav">
            <div class="logo">
              <a href="/">errenil</a>
            </div>
            <a href="/pages/about.html">about</a>
            <a href="/archive.html">archive</a>
        </nav>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

    </body>
</html>
