:root {
  --bg: #FFF1E5;
  --fg: #000000;
  --link: #006F9B;
  --velet: #6a468a;
  --oxford: #0F5499;
  --claret: #990F3D;
  --teal: #0D7680;
  --gray: #66605C;
}

html {
  font-family: "Liberation Sans",sans-serif,monospace;
  background-color: var(--bg);
}

body {
  display: flex;
  max-width: 60rem;
  font-size: 1.3rem;
  color: var(--fg);
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--velet);
}

.toc {
  position: fixed;
  right: 0;
  top: 10;
}

nav {
  text-align: right;
}

nav a {
  font-weight: bold;
  color: var(--claret);
  text-decoration: none;
}

nav a:visited {
  color: var(--claret);
}

nav a:hover {
  color: var(--gray);
}

.desk-nav {
  display: flex;
  flex-direction: column;
  align-content: right;
  margin: 1rem 3rem 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.mob-nav {
  display: none;
  margin: 1rem auto;
}

.logo {
  margin-bottom: 4rem;
}

.logo a:link {
  font-weight: bold;
  font-size: 2rem;
  color: var(--fg);
  text-decoration: none;

}

.logo a:visited {
  color: var(--fg);
}

.sourceCode {
  font-size: 1rem;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 0.8rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  color: var(--oxford);
}

@media screen and (max-width: 480px) {
  .desk-nav {
    display: none;
  }

  .mob-nav {
    display: block;
  }

  body {
    max-width: 90%;
  }
}
